
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  @tailwind base;
@tailwind components;
@tailwind utilities;